/* css styles */

.navbar-title {
    font-size: x-large;
    font-weight: 800;
    padding-left: 30px;
}

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora:wght@400;700&display=swap');

/* General Body Text */
body {
    font-family: 'Lora', sans-serif;
    font-size: 15px;
    line-height: 1.6; /* Optional: Adjust line height for readability */
    color: #000;      /* Optional: Set a default text color */
}

/* Headings (h1 - h6) */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', sans-serif;  
}

/* Optional: Fine-tune individual heading levels */
h1 {
    font-size: 40px; /* Adjust the size for h1 */
    font-weight: 700; /* Optional: Make headings bold */
    color: #000;      /* Optional: Set a default heading color */
}

h2 {
    font-size: 30px; /* Adjust the size for h2 */
    font-weight: 350;
    color: #491f53;      /* Optional: Set a default heading color */
}

h3 {
    font-size: 25px; /* Adjust the size for h3 */
    font-weight: 300;
    color: #491f53;     
}

h4 {
    font-size: 20px; /* Adjust the size for h3 */
    font-weight: 300;
    color: #491f53;     
}

h6 {
    font-size: 16px; /* Adjust the size for h3 */
    font-weight: 300;
    color: #000;     
}

/* Additional Customization (Optional) */
a {
    color: #007acc; /* Customize link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Add hover effect to links */
}


.callout-warning .callout-header {
    background-color: #E5E5E5 !important; /* Header background color */
    color: black; /* Header text color */
  }
  
.callout-warning .callout-icon {
    display: none; /* Hide the icon */
  }

  .callout-warning {
    border-left: 5px solid #a6a6a6  !important; /* Change the left border color */
  }
  
